################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AmniCare_Claude_Version/FileContentIndex
/.vs
